
body {
 font-family: "Poppins", sans-serif;
 font-weight: 500;
 font-style: normal;

}

/* HOME PAGE DESIGN */

#home {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align:center;
} 

h1{
 font-family: "Poppins", sans-serif;
 font-weight: 1000;
 font-style: normal;
}

/* home page buttons */

.data-button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 100px;
  margin: 10px 11px 12px 20px;

}

.design-button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 100px;
  margin: 10px 11px 12px 20px;

}

.about-button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 100px;
  margin: 10px 11px 12px 20px;

}

/* ABOUT ME PAGE DESIGN */
/* navigation bar settings */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*position: fixed; */
  top: 0;
  width: 100%;
}

ul li {
  float: left;
}

.navbar {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: black;
  color: white;
}

/* about me contact and text sections*/
.about-me-h1{
  margin: 100px 20px 12px 20px;
  font-size: 60;
}

.contact-container{
  position:fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-container h2 {
  margin: 10px 10px 25px; /* Space between heading and buttons */
  font-size: 30;
}

.contact-buttons{
  display: flex;
  gap: 10px;
}

/* about me contact buttons */
.email-button{
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 20px 12px 20px;

}

.CV-button{
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 20px 12px 20px;

}

.github-button{
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 20px 12px 20px;

}

.linkedin-button{
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 20px 12px 20px;

}

/* DESIGN PAGE */

.design-h1{
  margin: 100px 20px 12px 20px;
  font-size: 45;
  text-align: center;
}

.dsn-text-container{
 background-color: #6E06FF;
 padding: 10px 10px 10px 10px; 
}

p{
  text-align: center;
  font-size: 20;
}

.h2-projects{
  font-size: 35;
  text-align: left;
  padding: 15px; 
}

.design-projects-container{
  justify-content: center;
}

.design-project-card{
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #05A4FF;
  padding: 50px;
  margin: 10px; 
  position:relative;
  border-radius: 10px;
}


/* DATA PAGE */

.data-h1{
  margin: 100px 20px 12px 20px;
  font-size: 45;
  text-align: center;
}

.data-text-container{
 background-color: #CA0505;
 padding: 10px 10px 10px 10px; 
}

p{
  text-align: center;
  font-size: 20;
}

.data-tools-container{
  text-align: center;
  padding: 10px 10px 10px 10px; 
}

.h2-tools{
  font-size: 35;
  text-align: left;
  padding: 5px; 
}

.h2-projects{
  font-size: 35;
  text-align: left;
  padding: 15px; 
}

.data-project-card{
  display: inline-flex;
  text-decoration: none;
  color: black;
  background-color: #EF6A22;
  padding: 50px;
  margin: 10px; 
  position:relative;
  border-radius: 10px;
}

.data-images {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; 
  pointer-events: none; 
}

.data-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; 
  height: auto;
}

.data-images img:nth-child(2) {
  left: auto; 
  right: 0;   
}
