
/* HOME PAGE DESIGN */

body{
background-image: url("_portfólio_sketch.jpg");
}

#home {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align:center;
}

/* home page buttons */

a {
  background-color: black;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 100px;
  margin: 10px 11px 12px 20px;

}



/* ABOUT ME PAGE DESIGN */
/* navigation bar settings */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li {
  float: left;
}

.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: grey;
}
